*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: "Open Sans", sans-serif;
	background-color: white;
	color: #5EBEC4;

}
h2{
	text-transform: uppercase;


}

#bgcolor{
	/*background-color: lightgoldenrodyellow*/;
	text: center;
	padding: 2rem;
}
#navbg{
	background-color: #490B3D;

}

h3{
	background-color: #490B3D;
	box-sizing: border-box;
	margin: auto;
	margin-left: auto;
	margin-right: auto;
	padding: .5rem;
	color: white;
/*	padding: auto;*/
}
p{
	color: #1A2238;
	margin-bottom:0
}